# ==========================================================
# Python
# ==========================================================

__pycache__/
*.pyc
*.pyo
*.pyd

# ==========================================================
# Virtual Environment
# ==========================================================

venv/
env/
.venv/

# ==========================================================
# Logs
# ==========================================================

logs/

# ==========================================================
# Saved Models
# ==========================================================

saved_models/*.pth

# ==========================================================
# Outputs
# ==========================================================

outputs/predictions/
outputs/plots/
outputs/reports/

# ==========================================================
# VS Code
# ==========================================================

.vscode/

# ==========================================================
# Jupyter
# ==========================================================

.ipynb_checkpoints/

# ==========================================================
# OS Files
# ==========================================================

.DS_Store
Thumbs.db